
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Company Details", "Index", "CompanyDetails") &nbsp;
@Html.ActionLink("Employee Management", "Index", "Employee") &nbsp;
@Html.ActionLink("Attendance Details", "Index", "Attendance") &nbsp;
@Html.ActionLink("Payroll System", "Index", "Payroll") &nbsp;
@Html.ActionLink("View Reports", "Index", "Reports")


